html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
}

main {
  @include flex-col;
  flex: 1;
  gap: 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
}

.link {
  text-decoration: underline;
}
