/***************************** IMPORTS *****************************/
/* google font Anton + Manrope*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&display=swap');

/***************************** TYPOGRAPHY *****************************/
/****************************************************** COLORS */
body,
.sitter-card__link {
  color: $text-color;
}
a {
  color: $link-color;
  @include on-event {
    color: $tertiary-color;
  }
}
.sitter-card__link {
  @include on-event {
    color: $text-color;
  }
}
/****************************************************** FONTS */
body {
  font-family: 'Manrope', sans-serif;
}

/***************************************** font weight */
a,
.bold {
  font-weight: 700;
}
