.sitter-card {
  display: flex;
  width: 100%;
  &__link {
    background-color: $primary-color;
    border-radius: $medium-radius;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    height: 150px;
    overflow: hidden;
    width: 100%;
  }
  .icon,
  .icon path {
    fill: $background-color;
  }
  &__section {
    padding: 5px;
    width: 50%;
    &:nth-child(2) {
      position: relative;
    }
  }
  &__picture {
    border-radius: $medium-radius;
    height: 140px;
    object-fit: cover;
    width: 100%;
  }
  &__content {
    @include flex-col;
    font-size: 0.8rem;
    font-weight: normal;
    gap: 50px;
    &-acceptedPets {
      @include flex-col;
      bottom: 10px;
      gap: 5px;
      position: absolute;
    }
  }
  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 145px;
  }
}
