$primary-color: #0a4da6;
$secondary-color: #038c5a;
$tertiary-color: #ff9800;
$text-color: #000000;
$link-color: #000000;
$light-color: #fbfbfb;
$background-color: #fbfbfb;

/// *********************** BREAKPOINTS
$breakpoint-mobileXS: 360px;
$breakpoint-mobile: 425px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-laptopXL: 1400px;
$breakpoint-desktopXL: 1850px;

/// *********************** RADIUS
$smallRadius: 5px;
$mediumRadius: 10px;
$largeRadius: 25px;
