$primary-color: #354735;
$secondary-color: #e6e3e1;
$tertiary-color: #3b7e40;
$text-color: $primary-color;
$link-color: $primary-color;
$background-color: $secondary-color;
$light-color: #fff;

/// *********************** BREAKPOINTS
$breakpoint-mobileXS: 360px;
$breakpoint-mobile: 425px;
$breakpoint-mobileXL: 500px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-laptopXL: 1400px;
$breakpoint-desktopXL: 1850px;

/// *********************** RADIUS
$small-radius: 5px;
$medium-radius: 10px;
$large-radius: 25px;

$app-nav-height: 60px;
