.app-navigation {
  background-color: $background-color;
  bottom: 0;
  display: flex;
  height: $app-nav-height;
  justify-content: space-around;
  padding: 10px 0;
  position: fixed;
  width: 100%;
}
