.app-navigation {
  background-color: $background-color;
  bottom: 0;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  height: $app-nav-height;
  justify-content: space-around;
  padding: 15px 0;
  position: fixed;
  width: 100%;
}
