.menu {
  @include flex-col;
  background-color: $background-color;
  bottom: $app-nav-height;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
  gap: 10px;
  padding: 20px 15px;
  position: absolute;
  right: 0;
  width: 100%;
}
