.profile {
  &__picture {
    object-fit: cover;
    height: 300px;
    width: 100%;
  }
  &__identity {
    position: relative;
    margin-bottom: 20px;
    padding-left: 50px;
    &::before {
      background-color: color(primary);
      content: '';
      position: absolute;
      left: -10px;
      height: 100%;
      width: 50px;
    }
  }
  &__pets {
    padding: 0 10px;
  }
}
